/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom styles */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #003366;
  --secondary: #ffffff;
  --tertiary: #005599;
  --accent-color: #ffa500;
  --black: #000000;
  --active-btns: #0aa70a;
  --links: #0000ff;
  --highlight: #ffff99;
  --error: #ff0000;
  --white: #ffffff;
  --right-answer: #41e207;

}

.text-primary {
  color: var(--active-btns);
}

.bg {
  background-color: rgb(51, 51, 51);
}

.text-white {
  color: var(--secondary);
}

.text-black {
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Merriweather', serif;
}

.line-ht {
  line-height: 1;
}

a {
  text-decoration: none;
}

.height-100 {
  height: 100vh;
}
.height-90 {
  height: 90vh;
}
.container {
  width: 1320px;
  max-width: 100%;
  padding: 0 32px;
 
  margin: 0 auto;
}

.width-full {
  width: 100%;
}

.content {
  flex: 1; 
}

.container-1 {
  width: 1340px;
  max-width: 100%;
  padding: 0 32px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

/* flex */
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

.flex-72 {
  flex: 0 1 72%;
}

.flex-25 {
  flex: 0 1 25%;
}

/* grid */
.grid {
  display: grid;
  grid-template-columns: auto(1fr);
}

/* fonts sizes */
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-25 {
  font-size: 25px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}

/* font weights */
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}

/* margins */
.m-top-10 {
  margin-top: 10px;
}
.m-top-15 {
  margin-top: 15px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-top-30 {
  margin-top: 30px;
}
.m-top-50 {
  margin-top: 50px;
}
.m-bottom-30 {
  margin-bottom: 30px;
}
.m-left-15 {
  margin-left: 15px;
}
.m-left-15 {
  margin-left: 15px;
}
.m-right-20 {
  margin-right: 20px;
}
.margin {
  margin: 0 auto;
}

/* padding */
.p-top-30 {
  padding-top: 30px;
}

.padding {
  padding: 0px 135px;
}
.padding-30 {
  padding: 30px 0px;
}
.p-bottom-20 {
  padding-bottom: 20px;
}

.p-bottom-80 {
  padding-bottom: 80px;
}
.padding-10 {
  padding: 1px 5px;
}

/* buttons styles */
.btn {
  border: none;
  padding: 6px 18px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary {
  color: var(--text-black);
}

.btn-secondary {
  width: 50px;
}

/* header page */
.header {
  box-shadow: 0px 5px 10px -4px rgba(114, 113, 113, 0.3);
  color: black;
}

nav {
  height: 80px;

  color: var(--white);
}

/* like */

.like {
  color: var(--active-btns);
}

.like-btn {
  width: 80px;
  border: 1px solid rgb(2, 186, 2);
}

.none {
  display: none;
}

.tags {
  background-color: rgba(238, 238, 238, 0.87);
  padding: 10px;
  border-radius: 5px;
}


/* footer */
.footer {
  height: 90px;

  text-align: center;
  color: var(--white);
}



.icon-hash {
  color: var(--tertiary);
  margin-left: 15px;
}

/* signup page */

.signup {
  height: 150px;
}

.active {
  color: #fffdfd;
  background-color: var(--right-answer);
}

.pagination {
  color: #000000;
  display: flex;
  font-size: 18px;

}

/*  */

.tag {
  margin-right: 15px;
  text-transform: capitalize;
  border: 1px solid black;
  padding: 3px 12px;
  line-height: 1;
  border-radius: 15px;
}



.btn {
  width: 30px;
  height: 30px;
  border: none;
  margin-right: 15px;
  text-align: center;
  padding: 3px;

  margin: 40px 8px;
}

.btn-primary {
  width: 20%;
  height: 30px;
  color: var(--black);
  font-size: 18px;
  padding: 5px;
  background-color: var(--primary);
  color: var(--white);
  border: none;
}

/*=============login page============= */
.login {
  width: 40%;
  height: 40%;
  background-color: rgb(172, 226, 245);
  color: var(--black);
  margin: 80px auto;
}

.height-50 {
  height: 50%;
}

.login-inputs {
  display: block;
  width: 70%;
  height: 40px;
  margin: 18px auto;
  padding: 20px;
}

.full-height {
  height: 100vh;
}
