$primary: #003366;
$secondary: #ffffff;
$tertiary: #005599;
$accent-color: #ffa500;
$black: #000000;
$active-btns: #0aa70a;
$links: #0000ff;
$highlight: #ffff99;
$error: #ff0000;
$white: #ffffff;
$right-answer: #41e207;
